body {
    font-family: 'Nunito', sans-serif;
}

.bold-Header {
    color: white;
    font-size: 64px;
    font-weight: 800;
    line-height: 87px;
}

.subtitle-para{
    width: 425px;

    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #F2F4F8;
}

.green-box-message {
    background-color: #13D3DC;
    display: inline-block;
    padding: 0 10px;
    border-radius: 37px;
    color: white;

    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}